# DATA ANALYSIS PIPELINE

### BY : RHEA SETHI

### STEP 1 : API Query

I use census data for employer firms by sector, sex, ethnicity, race, veteran status, and years in business for the U.S., including detailed business characteristics, for the years 2014, 2015 and 2016.

In [1]:
import requests

In [2]:
import pandas as pd

In [17]:
#Data for 2016
base_url_2016= "https://api.census.gov/data/2016/ase/cscb"

#The Census data website gives a list of all the variables included in a dataset, 
#from which we picked our variables of interest to input as parameters in the API Call
var = """NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,
       RCPPDEMP_F,RCPPDEMP_PCT,EMP,EMP_PCT,PAYANN,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,
       EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S"""

#The Census website suggests using ':*' to get data on all the states for our specified country
country = "us:*" 

my_key = "e22f388e634bfb182e14adf23b0485dcdd48180e"

url1 = f"{base_url_2016}?get={var}&for={country}&key={my_key}"

In [ ]:
r1 = requests.get(url1)

In [20]:
#Converting to dataframe
df1 = pd.DataFrame(r1.json())
df1

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2016,5601758,0.0,34398096007,...,0.0,0.0,0.0,0.9,0.0,0.4,0.0,0.4,0.0,1
2,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2016,371547,10.8,582950729,...,8.2,0.9,0.1,3.7,1.9,2.4,1.9,2.8,1.7,1
3,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2016,316680,9.2,639263855,...,8.2,0.6,0.1,2.7,1.1,2.1,0.8,2.6,0.7,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2016,99287,2.9,144504745,...,1.8,0.9,0.0,16.0,0.3,3.6,0.6,5.1,0.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,0003,Equally male-/female-owned,MA,Jointly owned but primarily operated by male s...,2016,152737,29.6,188785532,...,27.4,1.5,0.4,3.2,1.0,2.9,2.5,1.8,2.5,1
140,United States,Total for all sectors,0003,Equally male-/female-owned,MB,Jointly owned but primarily operated by female...,2016,44067,8.5,26190804,...,4.6,1.9,0.2,6.5,0.6,5.9,1.5,4.9,0.9,1
141,United States,Total for all sectors,0003,Equally male-/female-owned,MC,Not jointly owned by spouses,2016,68187,13.2,148350925,...,22.3,2.2,0.3,7.6,3.5,5.6,1.6,6.0,1.7,1
142,United States,Total for all sectors,0003,Equally male-/female-owned,MD,Total reporting,2016,516241,100.0,669850217,...,100.0,0.6,0.0,2.3,0.0,1.0,0.0,1.4,0.0,1
143,United States,Total for all sectors,0003,Equally male-/female-owned,ME,Item not reported,2016,1884,0.0,7775449,...,0.0,10.5,0.0,46.8,0.0,27.9,0.0,34.0,0.0,1

In [21]:
#Set first row of data as Column Names
df1.columns=df1.iloc[0]
df1 = df1[1:]
df1

,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2016,5601758,0.0,34398096007,...,0.0,0.0,0.0,0.9,0.0,0.4,0.0,0.4,0.0,1
2,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2016,371547,10.8,582950729,...,8.2,0.9,0.1,3.7,1.9,2.4,1.9,2.8,1.7,1
3,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2016,316680,9.2,639263855,...,8.2,0.6,0.1,2.7,1.1,2.1,0.8,2.6,0.7,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2016,99287,2.9,144504745,...,1.8,0.9,0.0,16.0,0.3,3.6,0.6,5.1,0.3,1
5,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2016,2642361,77.0,6177721190,...,81.8,0.2,0.1,1.1,3.0,0.9,3.2,0.9,2.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,0003,Equally male-/female-owned,MA,Jointly owned but primarily operated by male s...,2016,152737,29.6,188785532,...,27.4,1.5,0.4,3.2,1.0,2.9,2.5,1.8,2.5,1
140,United States,Total for all sectors,0003,Equally male-/female-owned,MB,Jointly owned but primarily operated by female...,2016,44067,8.5,26190804,...,4.6,1.9,0.2,6.5,0.6,5.9,1.5,4.9,0.9,1
141,United States,Total for all sectors,0003,Equally male-/female-owned,MC,Not jointly owned by spouses,2016,68187,13.2,148350925,...,22.3,2.2,0.3,7.6,3.5,5.6,1.6,6.0,1.7,1
142,United States,Total for all sectors,0003,Equally male-/female-owned,MD,Total reporting,2016,516241,100.0,669850217,...,100.0,0.6,0.0,2.3,0.0,1.0,0.0,1.4,0.0,1
143,United States,Total for all sectors,0003,Equally male-/female-owned,ME,Item not reported,2016,1884,0.0,7775449,...,0.0,10.5,0.0,46.8,0.0,27.9,0.0,34.0,0.0,1

In [22]:
#Data for 2015
base_url_2015= "https://api.census.gov/data/2015/ase/cscb"

#The rest of the variables stay the same as 2016 

url2 = f"{base_url_2015}?get={var}&for={country}&key={my_key}"

In [ ]:
r2 = requests.get(url2)

In [24]:
df2 = pd.DataFrame(r2.json())
df2

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2015,5531169,0.0,33597636520,...,0.0,0.0,0.0,0.9,0.0,0.3,0.0,0.6,0.0,1
2,United States,Total for all sectors,0001,Female-owned,A1,All firms,2015,1088466,0.0,1353306545,...,0.0,0.5,0.0,3.4,0.0,2.6,0.0,2.4,0.0,1
3,United States,Total for all sectors,0001,Female-owned,MA,Jointly owned but primarily operated by male s...,2015,19238,12.2,33687206,...,9.3,3.9,0.4,6.8,1.5,6.3,0.8,7.6,1.3,1
4,United States,Total for all sectors,0001,Female-owned,LZ,Jointly owned and equally operated by spouses,2015,41067,26.1,97318633,...,26.2,3.2,0.6,8.9,12.9,4.3,7.6,5.8,9.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2015,90781,9.1,118277407,...,4.9,1.5,0.2,7.8,0.4,4.3,1.4,7.3,1.0,1
140,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2015,304657,30.5,1846298144,...,56.7,0.7,0.4,3.8,7.0,2.9,8.7,2.6,7.7,1
141,United States,Total for all sectors,0000,All firms,MD,Total reporting,2015,1000424,100.0,2987755237,...,100.0,0.4,0.0,2.6,0.0,1.8,0.0,1.6,0.0,1
142,United States,Total for all sectors,0000,All firms,ME,Item not reported,2015,2532368,0.0,4744909625,...,0.0,0.3,0.0,2.6,0.0,0.5,0.0,1.0,0.0,1
143,United States,Total for all sectors,0000,All firms,MF,Not applicable,2015,73253,0.0,8853822620,...,0.0,1.5,0.0,1.8,0.0,1.0,0.0,1.4,0.0,1

In [25]:
#Set first row of data as Column Names
df2.columns=df2.iloc[0]
df2 = df2[1:]
df2

,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2015,5531169,0.0,33597636520,...,0.0,0.0,0.0,0.9,0.0,0.3,0.0,0.6,0.0,1
2,United States,Total for all sectors,0001,Female-owned,A1,All firms,2015,1088466,0.0,1353306545,...,0.0,0.5,0.0,3.4,0.0,2.6,0.0,2.4,0.0,1
3,United States,Total for all sectors,0001,Female-owned,MA,Jointly owned but primarily operated by male s...,2015,19238,12.2,33687206,...,9.3,3.9,0.4,6.8,1.5,6.3,0.8,7.6,1.3,1
4,United States,Total for all sectors,0001,Female-owned,LZ,Jointly owned and equally operated by spouses,2015,41067,26.1,97318633,...,26.2,3.2,0.6,8.9,12.9,4.3,7.6,5.8,9.3,1
5,United States,Total for all sectors,0001,Female-owned,MB,Jointly owned but primarily operated by female...,2015,40321,25.7,59840965,...,17.2,1.7,0.5,8.1,6.3,5.5,4.3,7.5,5.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2015,90781,9.1,118277407,...,4.9,1.5,0.2,7.8,0.4,4.3,1.4,7.3,1.0,1
140,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2015,304657,30.5,1846298144,...,56.7,0.7,0.4,3.8,7.0,2.9,8.7,2.6,7.7,1
141,United States,Total for all sectors,0000,All firms,MD,Total reporting,2015,1000424,100.0,2987755237,...,100.0,0.4,0.0,2.6,0.0,1.8,0.0,1.6,0.0,1
142,United States,Total for all sectors,0000,All firms,ME,Item not reported,2015,2532368,0.0,4744909625,...,0.0,0.3,0.0,2.6,0.0,0.5,0.0,1.0,0.0,1
143,United States,Total for all sectors,0000,All firms,MF,Not applicable,2015,73253,0.0,8853822620,...,0.0,1.5,0.0,1.8,0.0,1.0,0.0,1.4,0.0,1

In [26]:
#Data for 2014
base_url_2014= "https://api.census.gov/data/2014/ase/cscb"

#The column headers for this year's data have slight differences, so we define them again:

var_2014 = "GEO_TTL,NAICS2012_TTL,ASECB,ASECB_TTL,SPOUSES,SPOUSES_TTL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,RCPPDEMP_F,RCPPDEMP_PCT,EMP,EMP_PCT,PAYANN,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S"

#The rest of the variables stay the same as 2016

url3 = f"{base_url_2014}?get={var_2014}&for={country}&key={my_key}"

In [27]:
r3 = requests.get(url3)

In [29]:
df3 = pd.DataFrame(r3.json())
df3

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,GEO_TTL,NAICS2012_TTL,ASECB,ASECB_TTL,SPOUSES,SPOUSES_TTL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2014,5437782,0.0,33036935112,...,0.0,0.0,0.0,0.5,0.0,0.3,0.0,0.3,0.0,1
2,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2014,336310,30.7,603733952,...,20.2,0.8,0.3,3.2,1.8,1.8,3.5,3.0,3.5,1
3,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2014,335149,30.6,493143589,...,19.2,0.6,0.3,3.7,5.5,1.7,6.2,1.8,5.5,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
140,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
141,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MD,Total reporting,2014,1096559,100.0,3203964700,...,100.0,0.2,0.0,1.8,0.0,0.9,0.0,1.3,0.0,1
142,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,A1,All firms,2014,271976,0.0,21927227228,...,0.0,0.9,0.0,1.2,0.0,0.5,0.0,0.5,0.0,1
143,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,MF,Not applicable,2014,122223,0.0,9978698949,...,0.0,1.6,0.0,1.7,0.0,0.7,0.0,0.6,0.0,1

In [30]:
#Set first row of data as Column Names
df3.columns=df3.iloc[0]
df3 = df3[1:]
df3

,GEO_TTL,NAICS2012_TTL,ASECB,ASECB_TTL,SPOUSES,SPOUSES_TTL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2014,5437782,0.0,33036935112,...,0.0,0.0,0.0,0.5,0.0,0.3,0.0,0.3,0.0,1
2,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2014,336310,30.7,603733952,...,20.2,0.8,0.3,3.2,1.8,1.8,3.5,3.0,3.5,1
3,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2014,335149,30.6,493143589,...,19.2,0.6,0.3,3.7,5.5,1.7,6.2,1.8,5.5,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
5,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
140,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
141,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MD,Total reporting,2014,1096559,100.0,3203964700,...,100.0,0.2,0.0,1.8,0.0,0.9,0.0,1.3,0.0,1
142,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,A1,All firms,2014,271976,0.0,21927227228,...,0.0,0.9,0.0,1.2,0.0,0.5,0.0,0.5,0.0,1
143,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,MF,Not applicable,2014,122223,0.0,9978698949,...,0.0,1.6,0.0,1.7,0.0,0.7,0.0,0.6,0.0,1

In [31]:
#Rename Column Names for 2014 to ensure uniformity across all 3 years
df3.rename(columns={'GEO_TTL': 'NAME', 'NAICS2012_TTL': 'NAICS2012_LABEL', 'ASECB_TTL': 'ASECB_LABEL', 'SPOUSES_TTL':'SPOUSES_LABEL'}, inplace = True)
df3

/var/folders/3x/ns128h090_q4qws27889_0xc0000gn/T/ipykernel_3662/1137889901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.rename(columns={'GEO_TTL': 'NAME', 'NAICS2012_TTL': 'NAICS2012_LABEL', 'ASECB_TTL': 'ASECB_LABEL', 'SPOUSES_TTL':'SPOUSES_LABEL'}, inplace = True)

,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2014,5437782,0.0,33036935112,...,0.0,0.0,0.0,0.5,0.0,0.3,0.0,0.3,0.0,1
2,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2014,336310,30.7,603733952,...,20.2,0.8,0.3,3.2,1.8,1.8,3.5,3.0,3.5,1
3,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2014,335149,30.6,493143589,...,19.2,0.6,0.3,3.7,5.5,1.7,6.2,1.8,5.5,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
5,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
140,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
141,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MD,Total reporting,2014,1096559,100.0,3203964700,...,100.0,0.2,0.0,1.8,0.0,0.9,0.0,1.3,0.0,1
142,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,A1,All firms,2014,271976,0.0,21927227228,...,0.0,0.9,0.0,1.2,0.0,0.5,0.0,0.5,0.0,1
143,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,MF,Not applicable,2014,122223,0.0,9978698949,...,0.0,1.6,0.0,1.7,0.0,0.7,0.0,0.6,0.0,1

In [34]:
frames = [df1, df2, df3]

In [35]:
#Final dataframe- Concatenating all 3 years' data
df4 = pd.concat(frames)
df4

,NAME,NAICS2012_LABEL,ASECB,ASECB_LABEL,SPOUSES,SPOUSES_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_PCT,RCPPDEMP,...,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S,us
1,United States,Total for all sectors,0000,All firms,A1,All firms,2016,5601758,0.0,34398096007,...,0.0,0.0,0.0,0.9,0.0,0.4,0.0,0.4,0.0,1
2,United States,Total for all sectors,0000,All firms,LZ,Jointly owned and equally operated by spouses,2016,371547,10.8,582950729,...,8.2,0.9,0.1,3.7,1.9,2.4,1.9,2.8,1.7,1
3,United States,Total for all sectors,0000,All firms,MA,Jointly owned but primarily operated by male s...,2016,316680,9.2,639263855,...,8.2,0.6,0.1,2.7,1.1,2.1,0.8,2.6,0.7,1
4,United States,Total for all sectors,0000,All firms,MB,Jointly owned but primarily operated by female...,2016,99287,2.9,144504745,...,1.8,0.9,0.0,16.0,0.3,3.6,0.6,5.1,0.3,1
5,United States,Total for all sectors,0000,All firms,MC,Not jointly owned by spouses,2016,2642361,77.0,6177721190,...,81.8,0.2,0.1,1.1,3.0,0.9,3.2,0.9,2.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MB,Jointly owned but primarily operated by female...,2014,96475,8.8,140228793,...,4.8,1.9,0.2,12.6,1.1,3.6,0.6,4.7,0.3,1
140,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MC,Not jointly owned by spouses,2014,328625,30.0,1966858366,...,55.8,0.6,0.5,2.5,8.1,1.6,10.3,1.9,9.0,1
141,United States,Total for all sectors,9996,"All firms classifiable by gender, ethnicity, r...",MD,Total reporting,2014,1096559,100.0,3203964700,...,100.0,0.2,0.0,1.8,0.0,0.9,0.0,1.3,0.0,1
142,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,A1,All firms,2014,271976,0.0,21927227228,...,0.0,0.9,0.0,1.2,0.0,0.5,0.0,0.5,0.0,1
143,United States,Total for all sectors,9998,Publicly held and other firms not classifiable...,MF,Not applicable,2014,122223,0.0,9978698949,...,0.0,1.6,0.0,1.7,0.0,0.7,0.0,0.6,0.0,1

### STEP 2: Uploading Data to Cloud

In [48]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/rheasethi/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pymysql

In [10]:
#Defining variables for connection
endpoint = "finalprojectdatabase.cfix72jcm7ex.us-west-2.rds.amazonaws.com"
username = "admin"
password = "A72ndse2#"

In [11]:
#Establishing connection to AWS
connection = pymysql.connections.Connection(host = endpoint, user = username, password = password)

In [84]:
#Defining functions for database and table creation
def create_database(dbname):
    connection.cursor().execute(f"CREATE DATABASE IF NOT EXISTS {dbname}")
    connection.commit()
    print("DB Created")
    
def create_table(dbname, tablename, formatted_sql_columns):
    connection.cursor().execute(f"USE {dbname}")
    connection.cursor().execute(f"CREATE TABLE IF NOT EXISTS {tablename}({formatted_sql_columns})")
    connection.commit()
    
def delete_table(dbname, tablename):
    connection.cursor().execute(f"USE {dbname}")
    connection.cursor().execute(f"DROP TABLE IF EXISTS {tablename}")
    connection.commit()

In [112]:
dbname = "finalprojectdatabase"
tablename = "Business_Characteristics"

In [119]:
cols = df4.columns

In [143]:
formatted_sql_columns = " TEXT, ".join(cols) + " TEXT"
formatted_sql_columns

'NAME TEXT, NAICS2012_LABEL TEXT, ASECB TEXT, ASECB_LABEL TEXT, SPOUSES TEXT, SPOUSES_LABEL TEXT, YEAR TEXT, FIRMPDEMP TEXT, FIRMPDEMP_PCT TEXT, RCPPDEMP TEXT, RCPPDEMP_F TEXT, RCPPDEMP_PCT TEXT, EMP TEXT, EMP_PCT TEXT, PAYANN TEXT, PAYANN_PCT TEXT, FIRMPDEMP_S TEXT, FIRMPDEMP_PCT_S TEXT, RCPPDEMP_S TEXT, RCPPDEMP_PCT_S TEXT, EMP_S TEXT, EMP_PCT_S TEXT, PAYANN_S TEXT, PAYANN_PCT_S TEXT, us TEXT'

In [109]:
create_database(dbname)

DB Created

In [ ]:
delete_table(dbname, tablename)
create_table(dbname, tablename, formatted_sql_columns)

In [145]:
#Adding data
def add_row(tablename, dbname, cols, row_data):
    esses = ("%s, " * len(cols))[:-2]
    fixed_columns = ",".join(cols)
    sql = f"INSERT INTO {tablename} ({fixed_columns}) VALUES ({esses})"
    connection.cursor().execute(f"USE {dbname}")
    connection.cursor().execute(sql, row_data)
    connection.commit()
    return({"Status": 200})

In [146]:
for i, row in df4.iterrows():
    row = [str(i) for i in list(row)]
    add_row(tablename, dbname, cols, row)